<h3>Currently playing</h3>
<section class="track-info-card">
  <img src="{{imageUrl}}" />
  <dl class="dl-horizontal">
    <dt>Track</dt>
    <dd>{{track}}</dd>
    <dt>Artists</dt>
    <dd class="text-overflow">{{artists}}</dd>
    <dt>Genres</dt>
    <dd class="text-overflow">{{genres}}</dd>
  </dl>
</section>